@import '../../variables';

.Tutorial {
  &__row {
    margin: 0;
  }

  &__learn-section {
    padding: 0;
    overflow-y: auto;
    height: 85vh;
  }

  &__incorrect-answer {
    color: white;
  }
}