@import '../../variables';

.Tutorial {
  &__row {
    margin: 0;
  }

  &__main-row {
    height: calc(100vh - 7.25rem);
  }

  &__text-content {
    padding: 0;
    overflow-y: auto;
  }

  &__incorrect-answer {
    color: white;
  }
}